**/*.rs.bk
**/Cargo.lock
**/target
*.a
*.app
*.d
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.x86_64
.DS_Store
.env
.nvimrc
.nvimrc.lua
.vim
.vimrc
Desktop.ini
build
